body{
    background-color: #001F3F !important;
}
.header{
    display:flex;
    padding: 15px 50px 0px 20px;
    justify-content: space-between;
    height: 70px !important;
    background-color: #7ED7C1 !important;
    border-bottom-left-radius:20px ;
    border-bottom-right-radius:20px ;
}
.header h3{
    text-align: center;
    
    color: #001F3F !important;
}
#usrIcn{
  width: 30px;
  height: 30px;

}
.formCover{

    display: flex;
    justify-content: center;
    align-items: center;
 
}